@import './base.css';

#app {
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #ff0000;
  transition: 0.4s;
}

p {
  margin-top: 10px;
}

@media (hover: hover) {
  a:hover {
    background-color: #ff000048;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: block;
    grid-template-columns: 1fr 1fr;
    padding: 0 1.5rem;
  }
}
